@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Dimensions */ 
    --width_full: 100%;
    --width-12col: 1200px;

    /* Grid settings */ 
    --grid_gap: 10px;
    --padding_default: 20px;

    /*Color*/
    --background_color_navigation: #00000088;
    --background_color_light: #ededed;
    --background_color_dark-bg: #111111;
    --primary_color: #bf5b23;
    --color_white: #ffffff;
    --color_black: #373737;
    --color_light: #ebebeb;
    --color_grey: #ffffffb3;

    /*Color swatches*/
    --category-seafood: #3e30e2;
    --category-chicken: #249c8e;
    --category-meats: #D09189;
    --category-veg: #298f3f;
    --category-dessert: #9374eb;
    --category-misc: #9A951E;
    --category-pasta: #bf5b23;

}
/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: var(--width_full);
    font-family: "Roboto", sans-serif;
    position: relative; 
    background-color: var(--background_color_dark-bg);
}
.navigation, .hero, .image-section, .footer{
    width: var(--width_full)
}

.todays_recepies, .content-area, .categories, .footer_area {
    width: var(--width_12col)
}

.container{
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid_gap);
    width: var(--width_full);
}

.navigation{
    background-color: var(--background_color_navigation);
    padding:30px 0 30px 0;
    position: absolute;
    z-index:10;
    width: var(--width_full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu-container{
    width: var(--width-12col);
}

.menu-container ul{
    display: flex;
    list-style-type: none;

}
.menu-container a{
    padding: 0 10px;
    text-decoration: none;
    color: var(--background_color_light);
    text-transform: uppercase;
    
}
.menu-container ul li {
    border-right: 1px solid var(--background_color_light);
}
.menu-container ul :last-child{
   border-right: none;

}
.menu-container a:hover{
    color: var(--primary_color);
} 

.clicked {
    color: var(--primary_color) !important
}

.hero{
    background-image: url("https://picsum.photos/800/600");
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background_color_light);
    margin: 0;
    border-bottom: 1px solid var(--background_color_dark-bg);
}

.hero-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid_gap);
    width: var(--width-12col);
}

.hero-text{
    grid-column: 1 / span 4;
    grid-row: 1;
    margin: 200px 0 0 0;
}

.hero-text h1 {
    padding: 0; /*redundant - DRY dont repeat yourself*/
    margin: 15px 0;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
}

.hero-text h1 span {
    font-weight: 900;
    font-size: 37px;
}

.hero-text p {
    font-size: 12px;
}

.search-box{
    grid-column: 2 / span 3;
    grid-row: 2;
    margin: 60px 0 0 0;
}

.search-input {
    background-color: transparent;
    padding: 10px 20px 10px 40px;
    border: 1px solid var(--background_color_light);
    border-radius: 5px;
    outline: none;
    color: var(--background_color_light);
    margin: 0 0 10px 0;
}

.search-inpuyt::placeholder {
    color: var(--background_color_light);
}

/*Todays recipe area start*/
.todays_recipes {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    gap: var(--grid_gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.todays_recipes_headline {
    width: 100%;
    color: var(--background_color_light);
    height: 45px;
    border-bottom: 1px solid var(--background_color_light);
    margin: 70px 0 0 0;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
}

.todays_recipes_content_block_image img {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.todays_recipes_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid_gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;
}

.todays_recipes_content_block {
    background-color: var(--background_color_light);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.todays_recipes_content_block_text {
    padding: 20px;
    color: var(--color_black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todays_recipes_content_block_text   {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.todays_recipes_content_block_text p {
    font-size: 16px;
}

.todays_recipes_content_block_bottom_area {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.todays_recipes_content_block_bottom_area_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 10px;
}

.todays_recipes_content_block_bottom_area_left p {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.todays_recipes_content_block_bottom_area_left p:last-child {
    font-weight: 800;
}

.todays_recipes_content_block_bottom_area_right_button button{
    background-color: var(--color_black);
    border: 1px solid var(--color_grey);
    border-radius: 5px;
    padding: 6px 12px;
}

.todays_recipes_content_block_bottom_area_right_button button a{
    color: var(--color_white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}
/*todays recipe area end*/



/*data-category colors start*/
div[data-category="seafood"]{
    border-left: 1px solid var(--category-seafood);
}

p[data-category="seafood"],
span[data-category="seafood"] {
    color: var(--category-seafood);
}

div[data-category="chicken"] {
    border-left: 1px solid var(--category-chicken);
}

p[data-category="chicken"],
span[data-category="chicken"] {
    color: var(--category-chicken);
}

h4[data-category="chicken"] {
    color: var(--category-chicken);
}

svg[data-category="chicken"] {
    color: var(--category-chicken);
}

h4[data-category="vegetarian"] {
    color: var(--category-veg);
}

svg[data-category="vegetarian"] {
    color: var(--category-veg);
}

h4[data-category="seafood"] {
    color: var(--category-seafood);
}

svg[data-category="seafood"] {
    color: var(--category-seafood);
}

h4[data-category="pastas"] {
    color: var(--category-pasta);
}

svg[data-category="pastas"] {
    color: var(--category-pasta);
}

h4[data-category="snacks"] {
    color: var(--category-misc);
}

svg[data-category="snacks"] {
    color: var(--category-misc);
}

h4[data-category="meats"] {
    color: var(--category-meats);
}

svg[data-category="meats"] {
    color: var(--category-meats);
}

h4[data-category="dessert"] {
    color: var(--category-dessert);
}

svg[data-category="dessert"] {
    color: var(--category-dessert);
}

h6[data-category="line"] {
    border-left: 2px solid var(--primary_color);
    padding: 0 0px 0 10px;
    height: 12px;
    line-height: 12px;
}

svg[data-category="socials"] {
    width: 24px;
    height: 24px;
    color: var(--color_black);
}

svg[data-category="renewable"] {
    width: 24px;
    height: 24px;
}
/*data-category colors end*/

/*category selection start*/
.category_selection {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    gap: var(--grid_gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.category_selection_headline {
    width: 100%;
    color: var(--background_color_light);
    height: 45px;
    border-bottom: 1px solid var(--background_color_light);
    margin: 70px 0 0 0;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
}

.category_selection_content{
    background-color: var(--background_color_light);
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 10px 50px;
}

.category_selection_content_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 61px;
}

.category_selection_content h4 {
    text-transform: uppercase;
}
/*category selection end*/

/*image section area start*/
.image_section {
    background-image: url('https://picsum.photos/3300/600');
    width: 100%;
    height: 600px;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
}

.image_section_box {
    width: var(--width-12col);
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.image_section_box_content {
    background-color: var(--background_color_light);
    border-radius: 5px;
    width: 367px;
    height: 187px;
    padding: 30px;
}

.image_section_box h5 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FF5C00;
}

.image_section_box h6 {
    font-size: 16px;
    font-weight: 700;
    color: var(--color_black);
    padding-bottom: 11px;
}
.image_section_box p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color_black);
    max-width: 282px;
    padding-top: 14px;
}
/*image section area end*/

/*content arean start*/
.container{
    background-color: var(--background_color_dark-bg);
}

.content_area {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    gap: var(--grid_gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.content_area_headline {
    width: 100%;
    color: var(--background_color_light);
    height: 45px;
    border-bottom: 1px solid var(--background_color_light);
    margin: 70px 0 0 0;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
}    

.content_area_block {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0;
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 240px;
}

.content_area_block_box_text p{
    padding-bottom: 45px;
}

.content_area_block_box {
    height: 380px;
    background-color: var(--background_color_light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_area_block_box h5 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FF5C00;
}

.content_area_block_box h6 {
    font-size: 16px;
    font-weight: 700;
    color: var(--color_black);
    margin-bottom: 11px;
}

.content_area_block_box p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color_black);
    max-width: 282px;
    padding-top: 14px;
}

.content_area_block_box_button button{
    background-color: var(--color_black);
    border: 1px solid var(--color_grey);
    border-radius: 5px;
    padding: 6px 12px;
    width: 179px;
    height: 40px;
}

.content_area_block_box_button button a{
    color: var(--color_white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}
/*content area end*/

/*footer area start*/
.footer {
    height: 147px;
    background-color: var(--primary_color);
    display: flex;
    align-items: center;
}

.footer_area {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--grid_gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 var(--grid_gap); 
}

.footer_area_socials p {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}


.footer_area_socials_youtube a {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    line-height: 13px;
}

.footer_area_socials_instagram a {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;  
}

.footer_area_socials_facebook a {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;   
}


.footer_area_navigation {
    grid-column: 2;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.footer_area_navigation p {
    font-size: 13px;
    font-weight: 400;
    color: var(--color_black);
}

.line {
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    height: 72px;
    background: var(--color_white);
}

.footer_area_links_renewable {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: var(--color_black);
}

.footer_area_links_renewable p {
    color: var(--color_black);
}

.footer_area_links p {
    font-size: 13px;
    font-weight: 400;
}

.footer_area_links {
    display: flex;
    flex-direction: column;
    grid-column: 5/7;
    text-align: right;
}

/*footer area end*/

/*search page*/
.navigation_search {
    background-color: var(--background_color_dark-bg);
    padding:30px 0 30px 0;
    position: absolute;
    z-index:10;
    width: var(--width_full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-searchpage{
    background-color: var(--background_color_dark-bg); /*add gradient later*/
 /*    background: linear-gradient(0deg, #ededed00, #ededed07); */
    background-color: var(--background_color_dark-bg);
    min-height: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background_color_light);
    margin: 0;
    border-bottom: 1px solid var(--color_black);
}

.serp {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    gap: var(--grid_gap);
    box-sizing: border-box;
    margin: 0 auto;
    background-color: var(--background_color_dark-bg) ;
}

.serp_container {
    display: grid;
    justify-content: center;
}

.search-box-searchpage {
    grid-column: 1 / span 4;
    grid-row: 2;
    margin: 60px 0 0 0;
}

.search-input {
    background-color: transparent;
    padding: 10px 20px 10px 40px;
    border: 1px solid var(--background_color_light);
    border-radius: 5px;
    outline: none;
    color: var(--background_color_light);
    margin: 0 0 10px 0;
}

.search-input::placeholder {
    color: var(--background_color_light);
}

.fullsearch_headline {
    width: 100%;
    color: var(--background_color_light);
    margin: 0 0 15px 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.serp_item h2 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FF5C00;
    margin-bottom: 14px;
}

.serp_item p {
    font-size: 16px;
    color: var(--color_light);
}

.serp_item h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--color_light);
    margin-bottom: 11px;
}

.filter_category_checkbox {
    background-color: var(--background_color_dark-bg);
    background: linear-gradient(90deg, #ededed11, #ededed07);
    grid-column: 6 / span 7;
    grid-row: 2;
    padding: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    border-radius: 5px;
}

.filter_category_checkbox h3 {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
}

.filter_category_checkbox label {
    display: flex;
    align-items: center;
    margin: 0px 0;
    color: var(--background_color_light);
    font-size: 14px;
    font-weight: 100;
    width: 50%;
    height: 20px;
}

.filter_category_checkbox input[type="radio"] {
    margin-right: 10px;
    height: 22px;
    width: 22px;
}

.filter_category_checkbox input:checked {
    border: 2px solid var(--primary_color);
}

.filter_category_checkbox input[type="radio"]#chicken {
    accent-color: var(--category-chicken);
}

.filter_category_checkbox input[type="radio"]#seafood {
    accent-color: var(--category-seafood);
}

.filter_category_checkbox input[type="radio"]#meats {
    accent-color: var(--category-meats);
}

.filter_category_checkbox input[type="radio"]#desserts {
    accent-color: var(--category-dessert);
}

.filter_category_checkbox input[type="radio"]#misc {
    accent-color: var(--category-misc);
}

.filter_category_checkbox input[type="radio"]#pasta {
    accent-color: var(--category-pasta);
}

.filter_category_checkbox input[type="radio"]#vegetarian {
    accent-color: var(--category-veg);
}

h3[data-category="seafood"]{
    border-left: 2px solid var(--category-seafood);
    height: 12px;
}

h3[data-category="chicken"] {
    border-left: 2px solid var(--category-chicken);
    height: 12px;
}

.serp_item h3 {
    padding-left: 9px;
    line-height: 14px;
}
/*search page end*/